        body{
            background-color: rgb(233, 243, 247);
        }
        .navbar{
            padding-left: 10%;
        }

        .photo{
            display: block;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
        }

        .intro{
            text-align: center;
            font-family: 'Poppins', sans-serif;
            line-height: 10%;
        }

        #hi{
           animation: blinker 2s linear infinite;
        }

        @keyframes blinker {
            50%{
                opacity: 0;
            }
        }
       .cs1{
        display: inline-block;
       }
        #cs{
            border-right: 2px solid;
            font-family: 'Share Tech Mono', monospace,sans-serif;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            animation: 
            typing 3s steps(30) infinite,
            cursor .4s step-end infinite alternate;
        }
 
        @keyframes cursor{
            50%{border-color: transparent;}
        } 

        @keyframes typing{
            from {width: 0;}
        }

        .info_button{
            text-align: center;
        }

        .info_button button:hover{
            background-color: white;
            color: black;
        }
     
        .about{
            margin: 5% 2%;
            padding: 2% 2%;
            color:rgb(241, 222, 187);
            background-color: black;
        }
       .about h1{
        margin-left: 5%;
       }

        .card{
            margin-left: 5%;
        }

        .container{
            display: flex;
            height: auto;
            margin: auto 0;
            width: 100%;
        }

        .myslef{
            font-family: 'Poppins', sans-serif;
            margin: 2% 5%;
        }

        .card-link{
          color: white;
        }
      
        /* .contact{
            display: flex;
        } */

        .contact form{
            width: 100%;
        }

        form input,form textarea{
            width: 100%;
            margin: auto;
        }
     
        .contact h1{
            margin: 5% 10% ;
        }

        .icon{
            text-decoration: none;
            float: left;
            margin: 2% 5% ;
        }

        .icon i{
            font-size: 30px;
            color: brown;
        }

        .contact-info{
            font-size: large;
            font-style: normal;
        }
        
        .manage-contact{
            display: flex;
            height: auto;
            margin: auto 0;
            width: 100%;
        }

        .fa-brands {
            margin: 5% 2%;
        }

